## Atestiguamiento de Incivilidades en los Alrededores de su Vivienda V2
Pregunta 1.4 del cuestionario principal de ENSU: En los últimos tres meses, ¿ha escuchado o ha visto en los alrededores de su vivienda situaciones como...<br>
* BP1_4_1	 vandalismo (grafitis, pintas, vidrios quebrados o daños) en las viviendas o negocios
* BP1_4_2	 consumo de alcohol en las calles
* BP1_4_3	 robos o asaltos
* BP1_4_4	 bandas violentas o pandillerismo
* BP1_4_5	 venta o consumo de droga
* BP1_4_6	 disparos frecuentes con armas
* BP1_4_7	 robo o venta ilegal de gasolina o diésel (huachicol)
* BP1_4_8	 tomas irregulares de luz (energía eléctrica) o diablitos

### Inicio

In [1]:
import pandas as pd

#### Importar bases

**Percepción de Inseguridad en la lugares varios** <br>
Fuente: *Encuesta Nacional de Seguridad Pública Urbana 2023 (I Trimestre).* Datos abiertos/2023/Encuesta Nacional de Seguridad Pública Urbana. Trimestre I<br>
Cuestionario principal de la encuesta sección I, II, III, IV (conjunto_de_datos_CB_ENSU_03_2023.csv) <br>
Pregunta *1.4 En los últimos tres meses, ¿ha escuchado o ha visto en los alrededores de su vivienda situaciones como...*<br>
https://www.inegi.org.mx/programas/ensu/#Datos_abiertos

In [2]:
# Importar base de Cuestionario principal de la encuesta sección I, II, III, IV
ensu = pd.read_csv('conjunto_de_datos_CB_ENSU_03_2023.csv')
ensu.replace('\r','',inplace=True)
ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD'.split()] = ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD'.split()].apply(lambda x:x.str.replace('\r',''), axis=1)

#Convertir identificadores de Entidad y Municipio en Texto
ensu['CVE_ENT'] = ensu['CVE_ENT'].astype('str').apply(lambda x:x.zfill(2))
ensu['CVE_MUN'] = ensu['CVE_MUN'].astype('str').apply(lambda x:x.zfill(3))
ensu['ENT_MUN'] = ensu['CVE_ENT'] + ensu['CVE_MUN']
ensu.head()

,ID_VIV,ID_PER,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,...,BP4_1_2,BP4_1_3,FAC_VIV,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS,REG_CD,ENT_MUN
0,100071.006,0100071.006.01,100071,5,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,5,5,958,1916,U,2,1,142,,01001
1,100071.026,0100071.026.01,100071,1,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,6,5,958,958,U,2,1,142,,01001
2,100071.033,0100071.033.03,100071,2,3,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,0,0,958,1916,U,2,1,142,,01001
3,100071.115,0100071.115.01,100071,3,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,8,8,958,1916,U,2,1,142,,01001
4,100075.028,0100075.028.02,100075,4,2,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,7,7,1058,3175,U,3,2,143,,01001

### Filtrar Datos de Interés de ENSU
Diccionario de datos (Metadatos): <br>
https://www.inegi.org.mx/rnm/index.php/catalog/859/data-dictionary/F5?file_name=ENSU_CB_0323 <br>

Opciones de Atestiguamiento para respuestas de variables:
* 1 -> Sí
* 2 -> No
* 9 -> 	No sabe / no responde

In [3]:
#Filtrar columnas de interés de ENSU
ci = 'CD NOM_CD NOM_ENT	BP1_4_1	BP1_4_2	BP1_4_3	BP1_4_4	BP1_4_5	BP1_4_6	BP1_4_7	BP1_4_8	FAC_SEL'.split()
ensuci = ensu[ci]

ensuci['NOM_CD'] = ensuci['NOM_CD'].apply(lambda x:x.title())

#Abreviaturas de Entidades Federativas
ef_abr = {'AGUASCALIENTES':'AGS', 'BAJA CALIFORNIA':'BC', 'BAJA CALIFORNIA SUR':'BCS',
       'CAMPECHE':'CAMP', 'COAHUILA DE ZARAGOZA':'COAH', 'COLIMA':'COL', 'CHIAPAS':'CHIS',
       'CHIHUAHUA':'CHIH', 'CIUDAD DE MEXICO':'CDMX', 'DURANGO':'DGO', 'GUANAJUATO':'GTO',
       'GUERRERO':'GRO', 'HIDALGO':'HGO', 'JALISCO':'JAL', 'MEXICO':'MEX', 'MICHOACAN DE OCAMPO':'MICH',
       'MORELOS':'MOR', 'NAYARIT':'NAY', 'NUEVO LEON':'NL', 'OAXACA':'OAX', 'PUEBLA':'PUE',
       'QUERETARO':'QRO', 'QUINTANA ROO':'QROO', 'SAN LUIS POTOSI':'SLP', 'SINALOA':'SIN',
       'SONORA':'SON', 'TABASCO':'TAB', 'TAMAULIPAS':'TAMPS', 'TLAXCALA':'TLAX',
       'VERACRUZ DE IGNACIO DE LA LLAVE':'VER', 'YUCATAN':'YUC', 'ZACATECAS':'ZAC'}
for ef, abr in ef_abr.items():
    ensuci['NOM_ENT'] = ensuci['NOM_ENT'].replace(ef, abr)

ensuci.loc[ensuci['NOM_CD']=='La Laguna','NOM_ENT'] = 'COAH-DGO'
ensuci.loc[ensuci['NOM_CD']=='Tampico','NOM_ENT'] = 'TAMPS-VER'

ensuci.head()

C:\Users\Arturo\AppData\Local\Temp\ipykernel_25052\458312788.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ensuci['NOM_CD'] = ensuci['NOM_CD'].apply(lambda x:x.title())
C:\Users\Arturo\AppData\Local\Temp\ipykernel_25052\458312788.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ensuci['NOM_ENT'] = ensuci['NOM_ENT'].replace(ef, abr)

,CD,NOM_CD,NOM_ENT,BP1_4_1,BP1_4_2,BP1_4_3,BP1_4_4,BP1_4_5,BP1_4_6,BP1_4_7,BP1_4_8,FAC_SEL
0,1,Aguascalientes,AGS,1,2,1,2,2,2,2,2,1916
1,1,Aguascalientes,AGS,2,1,2,2,1,2,2,1,958
2,1,Aguascalientes,AGS,2,2,2,2,2,2,2,2,1916
3,1,Aguascalientes,AGS,2,2,2,2,2,2,2,2,1916
4,1,Aguascalientes,AGS,2,2,2,2,2,2,2,2,3175

**Ciudades de Interés** <br>
Ciudades con mayor población (de 18 años o más) de acuerdo con dicho levantamiento.

In [4]:
#Ciudades con mayor población
#Población por Ciudad
ppc = ensuci.groupby(['CD','NOM_CD','NOM_ENT'])['FAC_SEL'].sum().reset_index()
ppc.rename(columns = {'FAC_SEL':'POB'}, inplace=True)
# Crear nombre de ciudad, entidad (NOM_CD_ENT)
ppc['NOM_CD_ENT'] = ppc['NOM_CD'] + ', ' + ppc['NOM_ENT']

#Las 20 Ciudades con mayor población
ciu=ppc[['CD','NOM_CD_ENT','POB']].sort_values(by='POB', ascending=False).head(20)
ciu.drop('POB', axis=1, inplace=True)
ciu

    CD                  NOM_CD_ENT
29  36                 Puebla, PUE
69  76            Iztapalapa, CDMX
21  27    Ecatepec De Morelos, MEX
52  59            Guadalajara, JAL
2    3                 Tijuana, BC
57  64               Monterrey, NL
15  20                   Leon, GTO
13  14         Ciudad Juarez, CHIH
67  74     Gustavo A. Madero, CDMX
22  28  Ciudad Nezahualcoyotl, MEX
56  63                Zapopan, JAL
20  26                 Toluca, MEX
45  52                 Merida, YUC
6    7         La Laguna, COAH-DGO
30  37              Queretaro, QRO
32  39        San Luis Potosi, SLP
81  88    Naucalpan De Juarez, MEX
31  38                Cancun, QROO
0    1         Aguascalientes, AGS
60  67               Guadalupe, NL

In [5]:
#Filtrar Ciudades de interés (para trabajar con base de 20 municipios con mayor población)
ensuci = ensuci[ensuci['CD'].isin(ciu['CD'])]
ensuci.drop(['NOM_CD', 'NOM_ENT'],axis=1,inplace=True)
ensuci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5486 entries, 0 to 23229
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CD       5486 non-null   int64
 1   BP1_4_1  5486 non-null   int64
 2   BP1_4_2  5486 non-null   int64
 3   BP1_4_3  5486 non-null   int64
 4   BP1_4_4  5486 non-null   int64
 5   BP1_4_5  5486 non-null   int64
 6   BP1_4_6  5486 non-null   int64
 7   BP1_4_7  5486 non-null   int64
 8   BP1_4_8  5486 non-null   int64
 9   FAC_SEL  5486 non-null   int64
dtypes: int64(10)
memory usage: 471.5 KB

### Obtención de Porcentaje de Atestiguamiento de Incivilidades para Todas las Variables

In [6]:
# Base inicial de variables
datos_iniciales = ensuci['CD'].unique()
variables = pd.DataFrame(datos_iniciales,columns=['CD'])

# Nombres de variables
nomvar=ensuci.columns[1:len(ensuci.columns)-1]

#Población por Ciudad
ppc = ensuci.groupby('CD')['FAC_SEL'].sum().reset_index()
ppc.rename(columns={'FAC_SEL':'POB'}, inplace=True)

# Loop
for var in nomvar:
    # Atestiguamiento por municipio
    # 1 -> Sí
    apm = ensuci[ensuci[var]==1].groupby('CD')['FAC_SEL'].sum().reset_index()
    apm.rename(columns={'FAC_SEL':'SI_ATE'},inplace=True)
    
    #Merge Población, Sí Atestiguó
    union = ppc.merge(apm, how='left', on='CD')
    union.fillna(0,inplace=True)
    
    #Porcentaje que atestiguó
    union[var]=union['SI_ATE']/union['POB']
    
    #Variable de interés (porcentaje que atestiguó) en Data Frame
    var_df=union[['CD',var]]
    
    #Unión de base inicial con variable
    variables=variables.merge(var_df, how='left',on='CD')
    
variables.head()

,CD,BP1_4_1,BP1_4_2,BP1_4_3,BP1_4_4,BP1_4_5,BP1_4_6,BP1_4_7,BP1_4_8
0,1,0.470683,0.548830,0.405070,0.355803,0.345468,0.102542,0.049710,0.096259
1,3,0.402139,0.482722,0.534222,0.140152,0.372903,0.647136,0.010136,0.148481
2,7,0.402453,0.545763,0.393075,0.227541,0.383199,0.086810,0.011575,0.238126
3,14,0.363923,0.460100,0.416298,0.236707,0.265734,0.388194,0.035127,0.202675
4,74,0.428431,0.766808,0.578753,0.294521,0.625006,0.528927,0.029764,0.226285

### Unir Base de Atestiguamiento con Nombres de Ciudades

In [7]:
#Base de percepción de ciudades
atesti = ciu.merge(variables, how='left', on='CD')
atesti.head()

,CD,NOM_CD_ENT,BP1_4_1,BP1_4_2,BP1_4_3,BP1_4_4,BP1_4_5,BP1_4_6,BP1_4_7,BP1_4_8
0,36,"Puebla, PUE",0.579945,0.707800,0.709537,0.316220,0.385344,0.363503,0.075073,0.157098
1,76,"Iztapalapa, CDMX",0.364493,0.819447,0.503830,0.303605,0.604025,0.479781,0.040139,0.249036
2,27,"Ecatepec De Morelos, MEX",0.567798,0.745596,0.643921,0.348739,0.570934,0.696697,0.067393,0.358669
3,59,"Guadalajara, JAL",0.556908,0.658513,0.706088,0.279739,0.489535,0.380733,0.029274,0.097455
4,3,"Tijuana, BC",0.402139,0.482722,0.534222,0.140152,0.372903,0.647136,0.010136,0.148481

#### Cifras Nacionales

In [8]:
#Función para el porcentaje de atestiguamiento nacional
def pct_ate_nac(pob,var):
    nac_ate = ensu[ensu[var]==1]['FAC_SEL'].sum()
    return nac_ate/(pob)

# Nombres de variables
nomvar = atesti.columns[2:len(atesti.columns)]

# Total población de la encuesta
pob = ensu['FAC_SEL'].sum()

# Porcentajes Nacionales con función
nac_pcts = list(map(lambda var: pct_ate_nac(pob,var),nomvar))

atesti.loc[20] = [0, 'Nacional'] + nac_pcts
atesti

,CD,NOM_CD_ENT,BP1_4_1,BP1_4_2,BP1_4_3,BP1_4_4,BP1_4_5,BP1_4_6,BP1_4_7,BP1_4_8
0,36,"Puebla, PUE",0.579945,0.707800,0.709537,0.316220,0.385344,0.363503,0.075073,0.157098
1,76,"Iztapalapa, CDMX",0.364493,0.819447,0.503830,0.303605,0.604025,0.479781,0.040139,0.249036
2,27,"Ecatepec De Morelos, MEX",0.567798,0.745596,0.643921,0.348739,0.570934,0.696697,0.067393,0.358669
3,59,"Guadalajara, JAL",0.556908,0.658513,0.706088,0.279739,0.489535,0.380733,0.029274,0.097455
4,3,"Tijuana, BC",0.402139,0.482722,0.534222,0.140152,0.372903,0.647136,0.010136,0.148481
5,64,"Monterrey, NL",0.403709,0.436288,0.505150,0.302260,0.313233,0.362895,0.024599,0.165400
6,20,"Leon, GTO",0.448938,0.401974,0.533708,0.223704,0.314230,0.450902,0.039107,0.101175
7,14,"Ciudad Juarez, CHIH",0.363923,0.460100,0.416298,0.236707,0.265734,0.388194,0.035127,0.202675
8,74,"Gustavo A. Madero, CDMX",0.428431,0.766808,0.578753,0.294521,0.625006,0.528927,0.029764,0.226285
9,28,"Ciudad Nezahualcoyotl, MEX",0.296930,0.748672,0.628266,0.157345,0.494559,0.414025,0.026488,0.105215
10,63,"Zapopan, JAL",0.485609,0.555207,0.576414,0.203014,0.387531,0.466751,0.071089,0.161187
11,26,"Toluca, MEX",0.576630,0.718436,0.736339,0.368865,0.355295,0.513810,0.040268,0.200147
12,52,"Merida, YUC",0.217942,0.425294,0.231860,0.089379,0.111896,0.010811,0.006143,0.071803
13,7,"La Laguna, COAH-DGO",0.402453,0.545763,0.393075,0.227541,0.383199,0.086810,0.011575,0.238126
14,37,"Queretaro, QRO",0.512087,0.512913,0.613285,0.278570,0.379052,0.168553,0.025642,0.119654
15,39,"San Luis Potosi, SLP",0.577358,0.596935,0.639584,0.382871,0.417298,0.557790,0.024047,0.080459
16,88,"Naucalpan De Juarez, MEX",0.454517,0.633325,0.665702,0.276684,0.464415,0.597733,0.035736,0.125284
17,38,"Cancun, QROO",0.340458,0.545559,0.487503,0.216566,0.321008,0.394227,0.015724,0.137655
18,1,"Aguascalientes, AGS",0.470683,0.548830,0.405070,0.355803,0.345468,0.102542,0.049710,0.096259
19,67,"Guadalupe, NL",0.325021,0.456877,0.423407,0.207435,0.301244,0.329204,0.018927,0.073928
20,0,Nacional,0.410615,0.593182,0.504231,0.241205,0.378374,0.372432,0.033394,0.146086

#### Tabla 1: Porcentaje de la población de 18 años y más que presenció o escuchó sobre BP1_4_INCIVILIDAD de las 20 ciudades con más población

In [9]:
#Exportar a Excel
atesti.to_excel('Atestiguamiento de incivilidades V2.xlsx', index=False)