## Obtención de Percepción de Inseguridad en la Lugares por Ciudad V2
Pregunta 1.2 del cuestionario principal de ENSU: *En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).* <br>
* BP1_2_01	Percepción de seguridad en su casa
* BP1_2_02	Percepción de seguridad en su trabajo
* BP1_2_03	Percepción de seguridad en las calles que habitualmente usa
* BP1_2_04	Percepción de seguridad en la escuela
* BP1_2_05	Percepción de seguridad en el mercado
* BP1_2_06	Percepción de seguridad en el centro comercial
* BP1_2_07	Percepción de seguridad en el banco
* BP1_2_08	Percepción de seguridad en el cajero automático localizado en la vía pública
* BP1_2_09	Percepción de seguridad en el transporte público
* BP1_2_10	Percepción de seguridad en el automóvil
* BP1_2_11	Percepción de seguridad en la carretera
* BP1_2_12	Percepción de seguridad en el parque recreativo o centro recreativo

### Inicio

In [1]:
import pandas as pd

#### Importar bases

**Percepción de Inseguridad en la lugares varios** <br>
Fuente: *Encuesta Nacional de Seguridad Pública Urbana 2023 (I Trimestre).* Datos abiertos/2023/Encuesta Nacional de Seguridad Pública Urbana. Trimestre I<br>
Cuestionario principal de la encuesta sección I, II, III, IV (conjunto_de_datos_CB_ENSU_03_2023.csv) <br>
Pregunta *1.2 En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).*<br>
https://www.inegi.org.mx/programas/ensu/#Datos_abiertos

In [2]:
# Importar base de Cuestionario principal de la encuesta sección I, II, III, IV
ensu = pd.read_csv('conjunto_de_datos_CB_ENSU_03_2023.csv')
ensu.replace('\r','',inplace=True)
ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD'.split()] = ensu['ID_PER NOM_ENT NOM_MUN NOM_CD TIPO_CUEST DOMINIO REG_CD'.split()].apply(lambda x:x.str.replace('\r',''), axis=1)

#Convertir identificadores de Entidad y Municipio en Texto
ensu['CVE_ENT'] = ensu['CVE_ENT'].astype('str').apply(lambda x:x.zfill(2))
ensu['CVE_MUN'] = ensu['CVE_MUN'].astype('str').apply(lambda x:x.zfill(3))
ensu['ENT_MUN'] = ensu['CVE_ENT'] + ensu['CVE_MUN']
ensu.head()

,ID_VIV,ID_PER,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,...,BP4_1_2,BP4_1_3,FAC_VIV,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS,REG_CD,ENT_MUN
0,100071.006,0100071.006.01,100071,5,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,5,5,958,1916,U,2,1,142,,01001
1,100071.026,0100071.026.01,100071,1,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,6,5,958,958,U,2,1,142,,01001
2,100071.033,0100071.033.03,100071,2,3,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,0,0,958,1916,U,2,1,142,,01001
3,100071.115,0100071.115.01,100071,3,1,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,8,8,958,1916,U,2,1,142,,01001
4,100075.028,0100075.028.02,100075,4,2,01,AGUASCALIENTES,001,AGUASCALIENTES,1,...,7,7,1058,3175,U,3,2,143,,01001

### Filtrar Datos de Interés de ENSU

In [3]:
#Filtrar columnas de interés de ENSU
ci = 'CD NOM_CD NOM_ENT	BP1_2_01	BP1_2_02	BP1_2_03	BP1_2_04	BP1_2_05	BP1_2_06	BP1_2_07	BP1_2_08	BP1_2_09	BP1_2_10	BP1_2_11	BP1_2_12	FAC_SEL'.split()
ensuci = ensu[ci]

ensuci['NOM_CD'] = ensuci['NOM_CD'].apply(lambda x:x.title())

#Abreviaturas de Entidades Federativas
ef_abr = {'AGUASCALIENTES':'AGS', 'BAJA CALIFORNIA':'BC', 'BAJA CALIFORNIA SUR':'BCS',
       'CAMPECHE':'CAMP', 'COAHUILA DE ZARAGOZA':'COAH', 'COLIMA':'COL', 'CHIAPAS':'CHIS',
       'CHIHUAHUA':'CHIH', 'CIUDAD DE MEXICO':'CDMX', 'DURANGO':'DGO', 'GUANAJUATO':'GTO',
       'GUERRERO':'GRO', 'HIDALGO':'HGO', 'JALISCO':'JAL', 'MEXICO':'MEX', 'MICHOACAN DE OCAMPO':'MICH',
       'MORELOS':'MOR', 'NAYARIT':'NAY', 'NUEVO LEON':'NL', 'OAXACA':'OAX', 'PUEBLA':'PUE',
       'QUERETARO':'QRO', 'QUINTANA ROO':'QROO', 'SAN LUIS POTOSI':'SLP', 'SINALOA':'SIN',
       'SONORA':'SON', 'TABASCO':'TAB', 'TAMAULIPAS':'TAMPS', 'TLAXCALA':'TLAX',
       'VERACRUZ DE IGNACIO DE LA LLAVE':'VER', 'YUCATAN':'YUC', 'ZACATECAS':'ZAC'}
for ef, abr in ef_abr.items():
    ensuci['NOM_ENT'] = ensuci['NOM_ENT'].replace(ef, abr)

ensuci.loc[ensuci['NOM_CD']=='La Laguna','NOM_ENT'] = 'COAH-DGO'
ensuci.loc[ensuci['NOM_CD']=='Tampico','NOM_ENT'] = 'TAMPS-VER'

ensuci.head()

C:\Users\Arturo\AppData\Local\Temp\ipykernel_25196\3472195073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ensuci['NOM_CD'] = ensuci['NOM_CD'].apply(lambda x:x.title())
C:\Users\Arturo\AppData\Local\Temp\ipykernel_25196\3472195073.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ensuci['NOM_ENT'] = ensuci['NOM_ENT'].replace(ef, abr)

,CD,NOM_CD,NOM_ENT,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,BP1_2_10,BP1_2_11,BP1_2_12,FAC_SEL
0,1,Aguascalientes,AGS,2,3,1,3,3,3,3,3,3,3,2,3,1916
1,1,Aguascalientes,AGS,1,2,1,3,2,1,1,1,2,1,2,3,958
2,1,Aguascalientes,AGS,1,1,1,3,1,1,3,1,1,1,3,3,1916
3,1,Aguascalientes,AGS,1,1,1,3,1,1,1,1,1,1,2,1,1916
4,1,Aguascalientes,AGS,1,3,2,3,1,1,1,3,1,3,2,3,3175

**Ciudades de Interés** <br>
Ciudades con mayor población (de 18 años o más) de acuerdo con dicho levantamiento.

In [4]:
#Ciudades con mayor población
#Población por Ciudad
ppc = ensuci.groupby(['CD','NOM_CD','NOM_ENT'])['FAC_SEL'].sum().reset_index()
ppc.rename(columns = {'FAC_SEL':'POB'}, inplace=True)
# Crear nombre de ciudad, entidad (NOM_CD_ENT)
ppc['NOM_CD_ENT'] = ppc['NOM_CD'] + ', ' + ppc['NOM_ENT']

#Las 20 Ciudades con mayor población
ciu=ppc[['CD','NOM_CD_ENT','POB']].sort_values(by='POB', ascending=False).head(20)
ciu.drop('POB', axis=1, inplace=True)
ciu

    CD                  NOM_CD_ENT
29  36                 Puebla, PUE
69  76            Iztapalapa, CDMX
21  27    Ecatepec De Morelos, MEX
52  59            Guadalajara, JAL
2    3                 Tijuana, BC
57  64               Monterrey, NL
15  20                   Leon, GTO
13  14         Ciudad Juarez, CHIH
67  74     Gustavo A. Madero, CDMX
22  28  Ciudad Nezahualcoyotl, MEX
56  63                Zapopan, JAL
20  26                 Toluca, MEX
45  52                 Merida, YUC
6    7         La Laguna, COAH-DGO
30  37              Queretaro, QRO
32  39        San Luis Potosi, SLP
81  88    Naucalpan De Juarez, MEX
31  38                Cancun, QROO
0    1         Aguascalientes, AGS
60  67               Guadalupe, NL

In [5]:
#Filtrar Ciudades de interés (para trabajar con base de 20 municipios con mayor población)
ensuci = ensuci[ensuci['CD'].isin(ciu['CD'])]
ensuci.drop(['NOM_CD', 'NOM_ENT'],axis=1,inplace=True)
ensuci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5486 entries, 0 to 23229
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CD        5486 non-null   int64
 1   BP1_2_01  5486 non-null   int64
 2   BP1_2_02  5486 non-null   int64
 3   BP1_2_03  5486 non-null   int64
 4   BP1_2_04  5486 non-null   int64
 5   BP1_2_05  5486 non-null   int64
 6   BP1_2_06  5486 non-null   int64
 7   BP1_2_07  5486 non-null   int64
 8   BP1_2_08  5486 non-null   int64
 9   BP1_2_09  5486 non-null   int64
 10  BP1_2_10  5486 non-null   int64
 11  BP1_2_11  5486 non-null   int64
 12  BP1_2_12  5486 non-null   int64
 13  FAC_SEL   5486 non-null   int64
dtypes: int64(14)
memory usage: 642.9 KB

### Obtención de Porcentaje de Inseguridad para todas las variables

In [6]:
# Base inicial de variables
datos_iniciales = ensuci['CD'].unique()
variables = pd.DataFrame(datos_iniciales,columns=['CD'])

# Nombres de variables
nomvar=ensuci.columns[1:len(ensuci.columns)-1]

#Población por Ciudad
ppc = ensuci.groupby('CD')['FAC_SEL'].sum().reset_index()
ppc.rename(columns={'FAC_SEL':'POB'}, inplace=True)

# Loop
for var in nomvar:
    #Población que se siente Insegura
    # Inseguro -> 2
    pin = ensuci[ensuci[var]==2].groupby('CD')['FAC_SEL'].sum().reset_index()
    pin.rename(columns={'FAC_SEL':'INSEGUROS'}, inplace=True)

    if 3 in ensuci[var].unique():
        #Población que no aplica
        # No Aplica -> 3
        pna = ensuci[ensuci[var]==3].groupby('CD')['FAC_SEL'].sum().reset_index()
        pna.rename(columns={'FAC_SEL':'NO_APLICA'},inplace=True)
        pna.fillna(0)
        pna.head()

        #Merge Población, Seguros, Inseguros, No Aplica
        union = ppc.merge(pna, how='left', on='CD').merge(pin, how='left', on='CD')
        union.fillna(0,inplace=True)

        #Porcentaje que se siente inseguro
        union[var] = union['INSEGUROS']/(union['POB']-union['NO_APLICA'])
    else:
        #Merge Población, Inseguros
        union = ppc.merge(pin, how='left', on='CD')
        union.fillna(0,inplace=True)
    
        #Porcentaje que se siente inseguro
        union[var] = union['INSEGUROS']/union['POB']
    
    #Variable de interés (porcentaje que se siente inseguro) en Data Frame
    var_df=union[['CD',var]]
    
    #Unión de base inicial con variable
    variables=variables.merge(var_df, how='left',on='CD')

variables.head()

,CD,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,BP1_2_10,BP1_2_11,BP1_2_12
0,1,0.137433,0.191391,0.375223,0.037215,0.290989,0.228993,0.424374,0.553152,0.393287,0.216388,0.598822,0.359971
1,3,0.153971,0.213911,0.556494,0.084949,0.419431,0.370746,0.507810,0.768318,0.519252,0.340573,0.444003,0.478104
2,7,0.181981,0.226724,0.381294,0.107875,0.404373,0.253742,0.343439,0.615328,0.472890,0.266361,0.412913,0.374582
3,14,0.202679,0.329515,0.693409,0.079835,0.661821,0.534857,0.649980,0.800408,0.838752,0.415091,0.659956,0.609613
4,74,0.173067,0.238263,0.603986,0.074932,0.377662,0.183700,0.548949,0.844391,0.732332,0.319080,0.417477,0.412032

### Unir Base de Percepción con Nombres de Ciudades

In [7]:
#Base de percepción de Ciudades
percepcion = ciu.merge(variables, how='left', on='CD')
percepcion.head()

,CD,NOM_CD_ENT,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,BP1_2_10,BP1_2_11,BP1_2_12
0,36,"Puebla, PUE",0.243019,0.371198,0.632626,0.046502,0.643703,0.438078,0.663146,0.832296,0.845002,0.400417,0.625540,0.506773
1,76,"Iztapalapa, CDMX",0.191475,0.293126,0.599172,0.217512,0.397353,0.240155,0.534535,0.782375,0.767506,0.302325,0.387828,0.395643
2,27,"Ecatepec De Morelos, MEX",0.225729,0.346293,0.769109,0.397048,0.504053,0.267527,0.706750,0.861666,0.855619,0.411043,0.493221,0.532915
3,59,"Guadalajara, JAL",0.179028,0.418668,0.661916,0.211234,0.483657,0.359087,0.771909,0.861144,0.787487,0.371094,0.496040,0.545990
4,3,"Tijuana, BC",0.153971,0.213911,0.556494,0.084949,0.419431,0.370746,0.507810,0.768318,0.519252,0.340573,0.444003,0.478104

#### Cifras Nacionales

In [8]:
#Función para el porcentaje de inseguridad nacional
def pct_ins_nac(pob,var):
    nac_ins = ensu[ensu[var]==2]['FAC_SEL'].sum()
    nac_na = ensu[ensu[var]==3]['FAC_SEL'].sum()
    return nac_ins/(pob-nac_na)

# Nombres de variables
nomvar = percepcion.columns[2:len(percepcion.columns)]

# Total población de la encuesta
pob = ensu['FAC_SEL'].sum()

# Porcentajes Nacionales con función
nac_pcts = list(map(lambda var: pct_ins_nac(pob,var),nomvar))

percepcion.loc[20] = [0, 'Nacional'] + nac_pcts
percepcion

,CD,NOM_CD_ENT,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,BP1_2_10,BP1_2_11,BP1_2_12
0,36,"Puebla, PUE",0.243019,0.371198,0.632626,0.046502,0.643703,0.438078,0.663146,0.832296,0.845002,0.400417,0.625540,0.506773
1,76,"Iztapalapa, CDMX",0.191475,0.293126,0.599172,0.217512,0.397353,0.240155,0.534535,0.782375,0.767506,0.302325,0.387828,0.395643
2,27,"Ecatepec De Morelos, MEX",0.225729,0.346293,0.769109,0.397048,0.504053,0.267527,0.706750,0.861666,0.855619,0.411043,0.493221,0.532915
3,59,"Guadalajara, JAL",0.179028,0.418668,0.661916,0.211234,0.483657,0.359087,0.771909,0.861144,0.787487,0.371094,0.496040,0.545990
4,3,"Tijuana, BC",0.153971,0.213911,0.556494,0.084949,0.419431,0.370746,0.507810,0.768318,0.519252,0.340573,0.444003,0.478104
5,64,"Monterrey, NL",0.254328,0.319489,0.554874,0.148306,0.489131,0.255314,0.501694,0.763549,0.617693,0.322793,0.596904,0.477682
6,20,"Leon, GTO",0.168147,0.368155,0.677356,0.128039,0.562194,0.415153,0.630005,0.789975,0.607005,0.391120,0.664857,0.635476
7,14,"Ciudad Juarez, CHIH",0.202679,0.329515,0.693409,0.079835,0.661821,0.534857,0.649980,0.800408,0.838752,0.415091,0.659956,0.609613
8,74,"Gustavo A. Madero, CDMX",0.173067,0.238263,0.603986,0.074932,0.377662,0.183700,0.548949,0.844391,0.732332,0.319080,0.417477,0.412032
9,28,"Ciudad Nezahualcoyotl, MEX",0.134865,0.435035,0.608649,0.166335,0.400425,0.233539,0.633852,0.875849,0.880590,0.298049,0.433158,0.478143
10,63,"Zapopan, JAL",0.207710,0.286874,0.456946,0.356814,0.377708,0.350298,0.576928,0.720761,0.589329,0.397522,0.541715,0.448614
11,26,"Toluca, MEX",0.338683,0.405246,0.819773,0.085538,0.768997,0.513424,0.786588,0.899269,0.912182,0.476930,0.661679,0.734642
12,52,"Merida, YUC",0.106080,0.140176,0.237665,0.061541,0.274578,0.107196,0.206780,0.330957,0.261888,0.122284,0.229577,0.135322
13,7,"La Laguna, COAH-DGO",0.181981,0.226724,0.381294,0.107875,0.404373,0.253742,0.343439,0.615328,0.472890,0.266361,0.412913,0.374582
14,37,"Queretaro, QRO",0.193702,0.261457,0.424483,0.166892,0.343309,0.205086,0.448528,0.626262,0.528827,0.302428,0.611530,0.290661
15,39,"San Luis Potosi, SLP",0.190806,0.294214,0.640585,0.212305,0.518264,0.325931,0.563769,0.759105,0.680484,0.341951,0.586062,0.402099
16,88,"Naucalpan De Juarez, MEX",0.185228,0.301134,0.712632,0.265867,0.617839,0.407683,0.755318,0.853617,0.900046,0.435108,0.562913,0.610189
17,38,"Cancun, QROO",0.223108,0.394542,0.634043,0.099012,0.595639,0.487344,0.730772,0.825121,0.704276,0.276141,0.483254,0.622742
18,1,"Aguascalientes, AGS",0.137433,0.191391,0.375223,0.037215,0.290989,0.228993,0.424374,0.553152,0.393287,0.216388,0.598822,0.359971
19,67,"Guadalupe, NL",0.176722,0.192307,0.449918,0.200675,0.435216,0.248653,0.451281,0.633653,0.548178,0.265020,0.486361,0.394241
20,0,Nacional,0.183902,0.283087,0.543853,0.140193,0.459363,0.304967,0.559493,0.728563,0.651855,0.317818,0.500106,0.439037

#### Tabla 1: Porcentaje de la población de 18 años y más que se sintió insegura en BP1_2_LUGAR de las 20 ciudades con más población

In [9]:
percepcion.to_excel('Percepción de inseguridad en lugares varios V2.xlsx', index=False)